.editor {
    margin: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
  }
  
  .titulo{
    color: black;
    text-align: center;
  }

  #editor {
    max-width: 900px;
    margin: 10px auto;
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 10px;
    color: black;
    outline: none;
  }
   