<div>
    <ul class="menu">
        <li class="cloudarch"><a><i class='bx bxs-cloud' style="font-size: 30px;"> CloudArch</i></a></li>
        <li class="centered"><a (click)="tipo = 1">Archivos</a></li>
        <li class="centered"><a (click)="tipo = 2">Cambiar contrasena</a></li>
        <li class="welcome"><a><i class='bx bx-user-circle'></i>{{usuario.name }} {{ usuario.lastname}}</a></li>
    </ul>
</div>
    <app-employee *ngIf="tipo == 1" [user]="usuario"></app-employee>
    <app-password *ngIf="tipo ==2" [usuario]="usuario"></app-password>