<body>
    <div class="wrapper">
        <h1>Cambiar contraseña</h1>
        <form #miformulario="ngForm" (ngSubmit)="changePassword(miformulario)">
            
            <div class="input-box">
                Actual:
                <input type="password" placeholder="contraseña actual" name="actual" [(ngModel)]="actual" #password2="ngModel" required>
            </div>

            <div class="input-box">
                Nueva:
                <input type="password" placeholder="nueva contraseña" name="nueva" [(ngModel)]="nueva" #nueva2="ngModel" required>
            </div>
            <div class="input-box">
                Confirmar:
                <input type="password" placeholder="confirmar contraseña" name="confirmar" [(ngModel)]="confimarcion" #confirmacion2="ngModel" required>
            </div>
            <div *ngIf="confimarcion != nueva">
                Las contraseñas no coinciden
            </div>

            <input type="submit" value="Cambiar" class="btn" [disabled]="password2.invalid || nueva2.invalid || confirmacion2.invalid || confimarcion!= nueva">

        </form>
    </div>
</body>